@model ProjectFuchsia.Models.User

<span>Välkommen </span>@Model.UserName

<span>Du har @Model.Score poäng.</span>

<span>Antal färdiga utmaningar är: @(Model.CompletedChallenges != null ? Model.CompletedChallenges.Count : 0)</span>